
<% let date =  new Date().toLocaleDateString() ;%>
<footer>



  <p> <%= date %> ,  Ce site est toujours en phase de développement, vos suggestions et commentaires sont les bienvenu à <a href="mailto:ilorsaintzaro@gmail.com">ilorsaintzaro@gmail.com!!!</a>
  </p>
</footer>

</body>
</html>

