<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaro ILORSAINT's blog</title>
    <link rel="stylesheet" href="/css/style.css">
     <link rel="stylesheet" href="/fontawsome/css/all.min.css">
     <link rel="stylesheet" href="/fontawsome/css/fontawesome.min.css" >
</head>


<script src="/js/script.js" defer></script>


<body>

    <div class="mobileHeader" id="mobileHeader">


      <div class="icons"><i class="fa-solid fa-bars"></i></div>
    </div>



    <div class="sideBar" id="sideBar">
      <ul>
        <div class="container-icon">
            <li class="icons" id="close"><i class="fa-solid fa-x"></i></li>

        </div>

        <div class="item">
            <li><a href="/accueil" onclick="fClosemenu()">Accueil</a></li>
        <li><a href="/posts" onclick="fClosemenu()">Posts</a></li>
        <li><a href="/nouveau_post" onclick="fClosemenu()">Nouveau post</a></li>
        <li><a href="/enregistrer" onclick="fClosemenu()">Enregistrer</a></li>
        <li><a href="/connecter" onclick="fClosemenu()">Connecter</a></li>

        </div>
                
        
        
      </ul>
    </div>


    <header>
        <nav>
            <ul>
                <li class="empty"></li>
                <li> <a href="/accueil">Accueil</a></li>
                <li><a href="/Posts">Posts</a></li>
                <li><a href="/Nouveau_post">Nouveau post</a></li>
                <li><a href="/enregistrer">Enregistrer</a></li>
                <li><a href="/connecter">Connection</a></li>
            </ul>
        </nav>
    </header>

 




    
