

<%- include("partials/header") %>

<main class="accueil">
     <h1>Bienvenu à mon blog </h1>

     <div class="introduction" >
          <h3>Résumé</h3>
          <p>En tant qu’apprenant permanent, j’ai créé cet espace pour présenter les différents projets 
               sur lesquels j’ai travaillé. Les thématiques que j’explore sont variées et reflètent les différents
                domaines que j’ai étudiés au cours de mon parcours académique. Certains projets sont liés à la biologie,
                d’autres à l’économie, et plusieurs portent sur les statistiques et l’analyse de données.</p>

               <p>
                    Curieux et animé par une forte volonté 
                    d’apprendre et de progresser, je cherche constamment à développer mes connaissances et
                     mes compétences. Je vous invite chaleureusement à découvrir mon travail 
                    et à explorer les projets qui ont marqué mon parcours.
               </p>

               <p>
                    Vos commentaires, suggestions et retours sont les bienvenus. N’hésitez pas à partager vos impressions sous chaque projet —
                     ils sont toujours appréciés et m’aident à m’améliorer.
               </p>

     </div>

     <div class="contact">
          <h3>Plus informations</h3>
          <ul>
               <li><a href="https://www.linkedin.com/feed/">Linkedin</a></li>
               <li><a href="https://www.facebook.com/zaro.ilorsaint.73">facebook</a></li>
               <li><a href="mailto:ilorsaintzaro@gmail.com">ilorsaintzaro@gmail.com</a></li>
               <li><a href="/CV">CV</a></li>
          </ul>
     </div>



</main>



<%- include("partials/footer") %>