<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon CV</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="bigContainer">

        <!-- The head of the cv -->

        <div class="head">
            <div class="headContent">
                <h1>ZARO ILORSAINT</h1>
                <h2>Analyste de données </h2>
                 <div class="btn"> <a href="/CV/en">English</a></div>
            </div>
        </div>


        <div class="below">

            <div class="left">


                <div class="contact">

                    <h3>Contact</h3>

                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="info">(819) 5710510</div>
                    </div>


                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="info">ilorsaintzaro@gmail.com</div>
                    </div>


                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="info">Sherbrooke, Qc, Canada</div>
                    </div>


                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                        <div class="info"><a href="https://www.linkedin.com/in/zaro-ilorsaint-547209121/">
                                My linkedin</a></div>
                    </div>




                </div>



                <div class="education">
                    <h3>Education</h3>
                    <div class="etudes">
                        <div class="etude">
                            <h5>2025 - en cours</h5>
                            <h4>Developpment (AEC)</h4>
                            <span class="italic">
                                <h3> Cégep Saint-Felicien, Canada </h3>
                            </span>
                        </div>

                        <div class="etude">
                            <h5>2021 - 2023</h5>
                            <h4>Maîtrise Avancée en Analyse de Données Satistiques</h4>
                            <span class="italic">
                                <h3>Université de Gand, Belgique</h3>
                            </span>
                        </div>

                        <div class="etude">
                            <h5>2021 - 2023</h5>
                            <h4>Maîtrise Internationale en Développement Rural</h4>
                            <span class="italic">
                                <h3>Université de Gand, Belgique</h3>
                            </span>
                        </div>

                        <div class="etude">
                            <h5>2009 - 2014</h5>
                            <h4>Licence en Agro-Économie</h4>
                            <span class="italic">
                                <h3>Université d'État d'Haïti</h3>
                            </span>
                        </div>

                    </div>






                </div>

                <div class="language">
                    <!-- #########################################
                   ############ Languages###################
                   ######################################### -->

                    <h3>Compétences linguistiques</h3>

                    <div class="level-container">

                        <div class="languages">
                            <div class="label">Anglais</div>
                            <div class="level-bar">
                                <div class="level-fill" style="width: 75%;"></div>
                            </div>

                            <div class="level-description">Intermediaire (75%)</div>

                        </div>


                        <div class="languages">
                            <div class="label">Français</div>
                            <div class="level-bar">
                                <div class="level-fill" style="width: 90%;"></div>
                            </div>
                            <div class="level-description">Avancé (90%)</div>


                        </div>




                        <div class="languages">
                            <div class="label">Créole</div>
                            <div class="level-bar">
                                <div class="level-fill creole" style="width: 100%;"></div>
                            </div>
                            <div class="level-description">Langue maternelle</div>

                        </div>



                    </div>


                </div>

                <div class="hobies">
                    <h3>Hobbies</h3>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-music" aria-hidden="true"></i></div>
                        <div class="info">Musique</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
                        <div class="info">Football</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-book" aria-hidden="true"></i></div>
                        <div class="info">Lecture</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-plane" aria-hidden="true"></i></div>
                        <div class="info">Voyager</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-code" aria-hidden="true"></i></div>
                        <div class="info">Coder</div>
                    </div>
                </div>






            </div>

            <div class="right">


                <div class="profile">
                    <h3>Profile</h3>
                    <p>Analyste de données orienté vers des résultats. Travailleur engagé et fiable,
                        avec plus de 5 ans d'experiences en conception, gestion de bases de données.
                        Solide expérience dans la collecte, le nettoyage, la transformation et l’exploitation
                        de données massives (big data) pour générer des insights actionnables.
                        Spécialisé en optimisation de requêtes (SQL), modélisation prédictive, statistiques avancées et
                        machine learning,
                        avec une maîtrise des approches
                        fréquentistes et bayésiennes. Maitrise Avancée en analyse de données de l'Université de Gand en
                        Belgique.
                    </p>
                </div>

                <div class="skills">
                    <h3>Skills</h3>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Analyse et visualisation des données</h4>
                        </div>
                        <div class="rightSide">
                            <p>R, SAS, PYTHON, SPSS, EXCEL</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Gestion des données relationnelles </h4>
                        </div>
                        <div class="rightSide">
                            <p>SQL, PostgreSQL, SQL Server, Excel avancé, Access, Python, Jupyter Notebook</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Gestion des données non relationnelles </h4>
                        </div>
                        <div class="rightSide">
                            <p>Cypher, bases de données orientées graphes, Neo4j</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Analyse et gestion des données spatiales </h4>
                        </div>
                        <div class="rightSide">
                            <p>QGIS, ArcGIS Pro, OpenLayers</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Statistiques et modélisation</h4>
                        </div>
                        <div class="rightSide">
                            <p>statistiques descriptives et inférentielles,
                                modélisation prédictive, machine learning</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Collaboration et outils professionnels </h4>
                        </div>
                        <div class="rightSide">
                            <p>Git, GitHub, outils Microsoft (Teams, Outlook)</p>
                        </div>
                    </div>


                    <div class="skill">
                        <div class="leftSide">
                            <h4>Développement web </h4>
                        </div>
                        <div class="rightSide">
                            <p>HTML, CSS, JavaScript, jQuery, Node.js, Express, EJS, Django, VScode</p>
                        </div>
                    </div>






                </div>

                <div class="Portfolios">

                    <h3>Portfolio</h3>

                    <div class="portfolio">

                        <h5>2025–2026</h5>
                        <h4>Projets en bases de données </h4>
                        <ul>
                            <li> Conception d’une base de données relationnelle
                                complète pour pour centraliser et gérer les inscriptions</li>
                            <li>Modélisation conceptuelle et relationnelle,
                                avec normalisation jusqu’à la 3e forme normale (3NF)</li>
                            <li>Création, modification et optimisation de la base de données</li>
                            <li>Développement de requêtes SQL complexes pour
                                l’extraction et l’analyse des données</li>
                            <li>Utilisation de SQL Server / SSMS</li>
                            <p> <span class="outils">Outils utilisés:</span> Looping, SQL Server, SQL Server Management Studio (SSMS) 2022</p>

                        </ul>


                    </div>

                    <div class="portfolio">

                        <h5>2024-2025</h5>
                        <h4>Developpment d'uneApplication web transactionnelle</h4>
                        <ul>
                            <li>Évaluer de la situation socio-économique des petits exploitants agricoles dans les zones
                                défavorisées du département du Sud.</li>
                            <li>Sensibiliser la population pour intégrer les groupes de solidarité mutuelle et les
                                coopératives.</li>
                            <li>Créer plusieurs groupes de solidarité mutuelle et coordonner diverses activités
                                (Épargne, Crédit et Formation) au sein des groupes.</li>

                            <li>Préparer des rapports périodiques décrivant l’impact socio-économique du programme sur
                                les agriculteurs des régions ciblées.</li>

<p> <span class="outils">Outils utilisés:</span> HTML, CSS, JavaScript, Python, Django, PostgreSQL, SQlite3, VS code </p>


                        </ul>


                    </div>

                    <div class="portfolio">

                        <h5>2024-2025</h5>
                        <h4>Analyse et visualisation interactive des données agricoles – Cas des plantations de laitues
                            en Montérégie</h4>



                        <ul>
                            <li>
                                Collecte, manipulation et analyse de données spatio-temporelles sur les plantations de
                                laitues</li>
                            <li>Gestion et traitement de fichiers GeoJSON, shapefiles et données provenant de serveurs
                                WMS/WFS</li>
                            <li>Création d’un Dashboard interactif avec rapports automatisés et statistiques graphiques
                            </li>

                            <li>Implémentation de visualisations de données avancées à
                                l’aide de OpenLayers et Highcharts.</li>

<p> <span class="outils">Tools used:</span> HTML, CSS, JavaScript, jQuery, Bootstrap, OpenLayers, PostgreSQL, VS code, Power BI</p>

                        </ul>

                    </div>




                </div>


                <div class="Experiences">

                    <h3>Experiences Professionnelles</h3>

                    <div class="Experience">

                        <h5>2017 - 2019</h5>
                        <h4>FONDATION CARIS, Haïti</h4>
                        <h4>Officer Mutual de Solidarité <span class="italic">(40h/semaine)</span></h4>

                        <ul>
                            <li>Collecte, structuration et mise à jour de bases de données socio-sanitaires des
                                bénéficiaires, avec contrôle de la qualité et de la cohérence des données
                                (suivi des traitements, visites à domicile, adhésion aux programmes)</li>
                            <li>Analyse des données financières et opérationnelles afin d’identifier les tendances,
                                les risques et la performance des groupes</li>
                            <li>Élaboration de rapports analytiques périodiques incluant des indicateurs de
                                participation,
                                d’adhésion aux traitements et de suivi des activités.</li>
                            <li>Suivi et évaluation des groupes de solidarité mutuelle à l’aide d’indicateurs
                                quantitatifs de performance (épargne, crédits, participation aux formations).</li>
                            <li>Contribution à la prise de décision basée sur les données via le suivi d’indicateurs
                                clés de performance</li>
                        </ul>

                        <p>
                            <span class="outils">Outils utilisés:</span> 
                            Excel avancé, Microsoft office
                        </p>


                    </div>

                      <div class="Experience">

                        <h5>April 2016 – December 2018</h5>
                        <h4>COMPLEXE KM, HAÏTI</h4>
                        <h4>Senior Data Analyst </h4>
                        <ul>
                            <li>Migration of database from Microsoft Access to SQL Server</li>
                            <li>Design of a relational database using Looping</li>
                            <li>Structuring tables (clients, loans, payments, guarantees, groups)
                                and defining relationships to ensure data integrity</li>
                            <li>Collection, entry, and updating of financial and client
                                data in the database via SQL Server</li>
                            <li>Improvement of data quality, accessibility, and loan repayment tracking</li>
                            <li>Reducing the report time by around 25%</li>

                        </ul>

                        <p>
                            <span class="outils">Outils utilisés:</span> SQL, PostgreSQL, Access,
                            Excel
                        </p>


                    </div>

                    <div class="Experience">

                        <h5>2015 - 2016</h5>
                        <h4>FOUNDATION INTERNATIONAL COMMUNITY ASSISTANT, Haïti</h4>
                        <h4>Officier de crédit Agricole, <span class="italic">(40h/semaine) </h4>

                        <ul>
                            <li>Collecte, structuration et analyse des données financières et socio-économiques des agriculteurs.</li>
                            <li>Évaluation des demandes de prêt à l’aide d’indicateurs quantitatifs (revenus, capacité de remboursement, analyse des risques).</li>
                            <li>Gestion et mise à jour de la base de données clients et du portefeuille de prêts</li>
                            <li>Analyse du portefeuille (performance, taux de remboursement, retards) pour soutenir la prise de décision</li>

                        </ul>
                         <p> <span class="outils">Tools used:</span> Excel, PostgreSQL,  Microsoft office</p>

                    </div>




                </div>







                <div class="certifications">
                    <h3>Certifications & Formations</h3>

                     <div class="certification">
                        <div class="leftSide">
                            <h5>Mai 2025</h5>
                            <h4>Udemy</h4>
                        </div>
                        <div class="rightSide">
                            <p>Python Django- The Practical Guide, Udemy</p>
                        </div>

                    </div>


                    <div class="certification">
                        <div class="leftSide">
                            <h5>Janvier 2025</h5>
                            <h4>CEF, Canada</h4>
                        </div>
                        <div class="rightSide">
                            <p>ArcGIS Pro</p>
                        </div>

                    </div>


                    <div class="certification">
                        <div class="leftSide">
                            <h5>Novembre 2024</h5>
                            <h4>Udemy</h4>
                        </div>
                        <div class="rightSide">
                            <p>Web Development Masterclass - Beginner to Pro in under 20hrs</p>
                        </div>

                    </div>



                    <div class="certification">
                        <div class="leftSide">
                            <h5>Octobre 2022</h5>
                            <h4>SAS</h4>
                        </div>
                        <div class="rightSide">
                            <p>SAS Certified Statistical Business Analyst Using SAS 9: Regression and Modeling</p>
                        </div>

                    </div>
                    <div class="certification">
                        <div class="leftSide">
                            <h5>Octobre 2022</h5>
                            <h4>SAS</h4>
                        </div>
                        <div class="rightSide">
                            <p>SAS Certified Specialist: Base Programming Using SAS 9.4</p>
                        </div>

                    </div>





                </div>










            </div>

        </div>

</body>

</html>