<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon CV</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="bigContainer">

        <!-- The head of the cv -->

        <div class="head">
            <div class="headContent">
                <h1>ZARO ILORSAINT</h1>
                <h2>Data Analyst </h2>

                <div class="btn"> <a href="/CV">Français</a></div>

            </div>
        </div>


        <div class="below">

            <div class="left">


                <div class="contact">

                    <h3>Contact</h3>

                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-phone" aria-hidden="true"></i></div>
                        <div class="info">(819) 5710510</div>
                    </div>


                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="info">ilorsaintzaro@gmail.com</div>
                    </div>


                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-home" aria-hidden="true"></i></div>
                        <div class="info">Sherbrooke, Qc, Canada</div>
                    </div>


                    <div class="conInfo">
                        <div class="icons"><i class="fa fa-linkedin-square" aria-hidden="true"></i></div>
                        <div class="info"><a href="https://www.linkedin.com/in/zaro-ilorsaint-547209121/">
                                My linkedin</a></div>
                    </div>




                </div>



                <div class="education">
                    <h3>Education</h3>
                    <div class="etudes">
                        <div class="etude">
                            <h5>2025 - to date</h5>
                            <h4> Web Development (AEC)</h4>
                            <span class="italic">
                                <h3> Cégep Saint-Felicien, Canada </h3>
                            </span>
                        </div>

                        <div class="etude">
                            <h5>2021 - 2023</h5>
                            <h4>Advanced Master in Statistical Data Analysis</h4>
                            <span class="italic">
                                <h3> Gent University, Belgium</h3>
                            </span>
                        </div>

                        <div class="etude">
                            <h5>2021 - 2023</h5>
                            <h4>International Mastet in Rural Development</h4>
                            <span class="italic">
                                <h3>Gent University, Belgium</h3>
                            </span>
                        </div>

                        <div class="etude">
                            <h5>2009 - 2014</h5>
                            <h4>Licence en Agro-Économie</h4>
                            <span class="italic">
                                <h3>Université d'État d'Haïti</h3>
                            </span>
                        </div>

                    </div>






                </div>

                <div class="language">
                    <!-- #########################################
                   ############ Languages###################
                   ######################################### -->

                    <h3>Languages Skills</h3>

                    <div class="level-container">

                        <div class="languages">
                            <div class="label">English</div>
                            <div class="level-bar">
                                <div class="level-fill" style="width: 75%;"></div>
                            </div>

                            <div class="level-description">Intermeddiate level(75%)</div>

                        </div>


                        <div class="languages">
                            <div class="label">French</div>
                            <div class="level-bar">
                                <div class="level-fill" style="width: 90%;"></div>
                            </div>
                            <div class="level-description">Avanced level (90%)</div>


                        </div>




                        <div class="languages">
                            <div class="label">Creole</div>
                            <div class="level-bar">
                                <div class="level-fill creole" style="width: 100%;"></div>
                            </div>
                            <div class="level-description">Native language</div>

                        </div>



                    </div>


                </div>

                <div class="hobies">
                    <h3>Hobbies</h3>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-music" aria-hidden="true"></i></div>
                        <div class="info">Musics</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-futbol-o" aria-hidden="true"></i></div>
                        <div class="info">Football</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-book" aria-hidden="true"></i></div>
                        <div class="info">Reading</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-plane" aria-hidden="true"></i></div>
                        <div class="info">Travel</div>
                    </div>

                    <div class="hobie">
                        <div class="icons"><i class="fa fa-code" aria-hidden="true"></i></div>
                        <div class="info">Coding</div>
                    </div>
                </div>






            </div>

            <div class="right">


                <div class="profile">
                    <h3>Profile</h3>
                    <p>results-driven data scientist, reliable and highly committed, with strong expertise in database design and management, data analysis, and statistical modeling. extensive experience in collecting, cleaning, transforming, and analyzing large-scale datasets to produce actionable insights for decision-making. specialized in SQL query optimization,
                         statistical forecasting, and machine learning, with a strong command of both frequentist and bayesian approaches. holds a master’s degree in data analysis..
                    </p>
                </div>

                <div class="skills">
                    <h3>Skills</h3>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Data Analysis and Visualization</h4>
                        </div>
                        <div class="rightSide">
                            <p>R, SAS, PYTHON, SPSS, EXCEL</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Relational Database </h4>
                        </div>
                        <div class="rightSide">
                            <p>SQL, PostgreSQL, SQL Server, Excel avancé, Access Python, Jupyter Notebook</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Non-Relational and Graph Databases</h4>
                        </div>
                        <div class="rightSide">
                            <p>Cypher, bases de données orientées graphes, Neo4j</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Geospatial Data Analysis</h4>
                        </div>
                        <div class="rightSide">
                            <p>QGIS, ArcGIS Pro, OpenLayers</p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Statistics and modeling</h4>
                        </div>
                        <div class="rightSide">
                            <p>Descriptive, inferential statistic, predictive modeling, Marchin Learning </p>
                        </div>
                    </div>

                    <div class="skill">
                        <div class="leftSide">
                            <h4>Collaboration and Professional Tools</h4>
                        </div>
                        <div class="rightSide">
                            <p>Git, GitHub, outils Microsoft (Teams, Outlook)</p>
                        </div>
                    </div>


                    <div class="skill">
                        <div class="leftSide">
                            <h4>Développement web </h4>
                        </div>
                        <div class="rightSide">
                            <p>HTML, CSS, JavaScript, jQuery, Node.js, Express, EJS, Django, VScode</p>
                        </div>
                    </div>

                </div>

                <div class="Portfolios">

                    <h3>Portfolio</h3>

                    <div class="portfolio">

                        <h5>2025–2026</h5>
                        <h4>Database project</h4>
                        <ul>
                            <li> Designed a complete relational database to centralize and manage registrations</li>
                            <li>Performed conceptual and relational data modeling, with normalization up to Fifth Normal Form (5NF)</li>
                            <li>Created, modified, and optimized the database structure</li>
                            <li>Developed complex SQL queries for data extraction and analysis</li>
                            <li>Utilisation de SQL Server / SSMS</li>

                        </ul>

                        <p> <span class="outils">Tools used:</span> Looping, SQL Server, SQL Server Management Studio (SSMS) 2022</p>

                    </div>

                    <div class="portfolio">

                        <h5>2024-2025</h5>
                        <h4>Transactional Financial Management Web Application</h4>
                        <ul>
                            <li>Budget and Expense Tracking Platform (Monthly & Annual).</li>
                            <li>Developed a platform to track, analyze, and manage monthly and annual budgets and expenses.</li>
                            <li>Performed financial data analysis, including data extraction, transformation, and visualization to produce decision-support reports.</li>
                            <li>Implemented transactional logic,
                                 analytical queries, and automated reporting systems.</li>
                        </ul>

                        <p> <span class="outils">Tools used:</span> HTML, CSS, JavaScript, Python, Django, PostgreSQL, SQlite3, VS code </p>


                    </div>

                    <div class="portfolio">

                        <h5>2024-2025</h5>
                        <h4>Lettuce Field mapping and analysis Platform - Montérégie (Interactive Dashboard)</h4>



                        <ul>
                            <li>
                                Collected, processed, and analyzed spatio-temporal data</li>
                            <li>Extracted and cross-validated multi-source climate data (ERA5-Land, NASA POWER, and Agri-Environmental Canada)</li>
                            <li>Managed and processed GeoJSON, shapefiles, and data from WMS/WFS services</li>
                            <li>Developed asynchronous queries to extract and aggregate data in real time</li>
                            <li>Built an interactive dashboard with automated reports and graphical statistics</li>
                            <li>Implemented advanced data visualization using OpenLayers and Highcharts</li>
                        </ul>

                          <p> <span class="outils">Tools used:</span> HTML, CSS, JavaScript, jQuery, Bootstrap, OpenLayers, PostgreSQL, VS code, Power BI</p>

                    </div>


                </div>


                <div class="Experiences">

                    <h3>Experiences Professionnelles</h3>

                    <div class="Experience">

                        <h5>2017 - 2019</h5>
                        <h4>FONDATION CARIS, Haïti</h4>
                        <h4>Mutual Solidarity officer</h4>

                        <ul>
                            <li>Collection, structuring, and updating of beneficiaries’ socio-health data (treatment follow-up, home visits, program adherence).
                                (suivi des traitements, visites à domicile, adhésion aux programmes)</li>
                            <li>Analysis of financial and operational data to identify trends, risks, and group performance.</li>
                            <li>Preparation of periodic reports (participation indicators, treatment adherence, activities carried out).</li>
                            <li>Monitoring and evaluation of mutual solidarity groups using quantitative indicators (savings, loans, training participation)</li>
                            
                        </ul>

                       <p>
                            <span class="outils">Tools used:</span> Looping, SQL Server, SQL, Sever management
                            studio, SSMA
                            Excel avancé
                        </p>


                    </div>

                      <div class="Experience">

                        <h5>April 2016 – December 2018</h5>
                        <h4>COMPLEXE KM, HAÏTI</h4>
                        <h4>Senior Data Analyst </h4>
                        <ul>
                            <li>Migration of database from Microsoft Access to SQL Server</li>
                            <li>Design of a relational database using Looping</li>
                            <li>Structuring tables (clients, loans, payments, guarantees, groups)
                                and defining relationships to ensure data integrity</li>
                            <li>Collection, entry, and updating of financial and client
                                data in the database via SQL Server</li>
                            <li>Improvement of data quality, accessibility, and loan repayment tracking</li>
                            <li>Reducing the report time by around 25%</li>

                        </ul>

                        <p>
                            <span class="outils">Tools used:</span> SQL, PostgreSQL, Access,
                            Excel
                        </p>
                        </p>


                    </div>

                    <div class="Experience">

                        <h5>2015 - 2016</h5>
                        <h4>FOUNDATION INTERNATIONAL COMMUNITY ASSISTANT, Haïti</h4>
                        <h4>Credit risk analyst</h4>
                        <ul>
                            <li>Collection, structuring, and analysis of financial and socio-economic data of farmers.</li>
                            <li>Evaluation of loan applications using quantitative indicators (income, repayment capacity, risk assessment).</li>
                            <li>Management and updating of a client database and loan portfolio.</li>
                            <li>Developed predictive models to improve the company’s decision-making</li>
                        </ul>

                        <p> <span class="outils">Tools used:</span> Excel, PostgreSQL, Microsoft office</p>

                    </div>





                </div>







                <div class="certifications">
                    <h3>Certifications & Formations</h3>

                     <div class="certification">
                        <div class="leftSide">
                            <h5>Mai 2025</h5>
                            <h4>Udemy</h4>
                        </div>
                        <div class="rightSide">
                            <p>Python Django- The Practical Guide, Udemy</p>
                        </div>

                    </div>


                    <div class="certification">
                        <div class="leftSide">
                            <h5>Janvier 2025</h5>
                            <h4>CEF, Canada</h4>
                        </div>
                        <div class="rightSide">
                            <p>ArcGIS Pro</p>
                        </div>

                    </div>


                    <div class="certification">
                        <div class="leftSide">
                            <h5>Novembre 2024</h5>
                            <h4>Udemy</h4>
                        </div>
                        <div class="rightSide">
                            <p>Web Development Masterclass - Beginner to Pro in under 20hrs</p>
                        </div>

                    </div>



                    <div class="certification">
                        <div class="leftSide">
                            <h5>Octobre 2022</h5>
                            <h4>SAS</h4>
                        </div>
                        <div class="rightSide">
                            <p>SAS Certified Statistical Business Analyst Using SAS 9: Regression and Modeling</p>
                        </div>

                    </div>
                    <div class="certification">
                        <div class="leftSide">
                            <h5>Octobre 2022</h5>
                            <h4>SAS</h4>
                        </div>
                        <div class="rightSide">
                            <p>SAS Certified Specialist: Base Programming Using SAS 9.4</p>
                        </div>

                    </div>





                </div>










            </div>

        </div>

</body>

</html>